/* Containers */
.info-page__form {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.info-page__wrapper {
  width: 100%;
}

.info-page__wrapper > div {
  display: flex;
  flex-direction: column;

  margin-top: 28px;
  position: relative;
  width: 100%;
}

/* Label */
.info-page__wrapper > div > label {
  font-size: 18px;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  color: var(--purplish-blue);
}

/* Input */
.info-page__wrapper > div > input {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  outline: none;

  margin-top: 4px;
  transition: ease-out .2s;
  width: 100%;
}
.info-page__wrapper > div > input:focus {
  background-color: var(--magnolia);
  border-color: var(--purplish-blue) !important;
}
.info-page__wrapper > div > input::placeholder {
  color: var(--cool-gray);
  font-weight: 700;
}

/* Error */
.info-page__form-error {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 17px;
  font-weight: 700;
  color: var(--strawberry-red);
}