.addons-page {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    
    padding-top: 46px;
}

.addons-wrapper > div {
    border: 1px solid var(--light-gray);
    border-radius: 12px;
    padding: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    text-align: center;
    transition: ease-out 0.3s;
}
.addons-wrapper > div:hover {
    border-color: var(--purplish-blue);
    background-color: var(--magnolia);
}

.addons-wrapper > div > input {
    width: 25px;
    height: 25px;
}

.addons-wrapper > div h6 {
    font-size: 18px;
    color: var(--marine-blue);
}

.addons-wrapper > div p {
    font-size: 14px;
    color: var(--cool-gray);  

    margin-top: 8px;
}

.addons-price {
    color: var(--purplish-blue);
}