.plan-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plan-page__plan-div {
    display: flex;
    justify-content: space-between;

    margin-top: 46px;
}

.plan-page__plan-div > div {
    width: 136px;
    height: 184px;
    
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 16px;

    cursor: pointer;
    transition: ease-out 0.3s;
}
.plan-page__plan-div > div:hover {
    border-color: var(--purplish-blue) !important;
}

.plan-page__plan-div > div > h6 {
    margin-top: 36px;
    
    font-size: 20px;
    font-weight: 700;
    color: var(--marine-blue);
    text-transform: capitalize;
}

.price {
    color: var(--cool-gray);
    letter-spacing: 1.6px;
    margin-top: 4px;
}

.last-p {
    color: var(--marine-blue);
    margin-top: 4px;
}

/* Toggler */

.toggler-div {
    background-color: var(--magnolia);
    padding: 16px;
    border-radius: 12px;

    margin-top: 36px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.toggler-span {
    display: flex;
    justify-content: space-between;
    width: 55px;
    padding: 8px;
    background-color: var(--marine-blue);
    margin: 0 16px;
    border-radius: 12px;
    cursor: pointer;
}
.inner-span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
}
.inner-span.active {
    background-color: var(--white);
}

.toggler-p {
    color: var(--cool-gray);
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    transition: ease-out 0.3s;
}
.toggler-p.active {
    color: var(--marine-blue) !important;
}